name: Publish to Maven Central

permissions:
  contents: read

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Publish to Maven Central
        run: ./gradlew publish
        env:
          SIGNINGKEY: ${{ secrets.SIGNINGKEY }}
          SIGNINGPASSWORD: ${{ secrets.SIGNINGPASSWORD }}
          MAVENCENTRALUSERNAME: ${{ secrets.MAVENCENTRALUSERNAME }}
          MAVENCENTRALPASSWORD: ${{ secrets.MAVENCENTRALPASSWORD }}
